In [1]:
import CalculatedFieldSubroutines as cfs

In [2]:
cfs.origin_dir()

'/home/rcoldren_linux/Desktop/TDMprivate'

In [5]:
x = cfs.retrieve_metadata_df()

In [7]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   groupMetadataID              330 non-null    object
 1   vehicleID                    330 non-null    object
 2   Route                        289 non-null    object
 3   driver                       330 non-null    int64
 4   operator                     289 non-null    float64
 5   experimentID                 330 non-null    int64
 6   other.Objective              289 non-null    object
 7   other.MapVersion             289 non-null    object
 8   other.Weather_Lighting       289 non-null    object
 9   other.Weather_Precipitation  289 non-null    object
 10  other.StackVersion           284 non-null    object
 11  other.Weather                41 non-null     object
 12  other.Map                    40 non-null     object
 13  other.Notes                  39 non-null     object
dtypes: float64(1), int64(2), object(11)
memory usage: 36.2+ KB

In [9]:
cfs.list_gmIDs()[ 0 ]

'513a670c-eea9-11ee-9385-ef789ffde1d3'

In [10]:
len( cfs.list_gmIDs() )

330

In [11]:
cfs.list_topics()

['/apollo/canbus/chassis',
 '/apollo/drive/event',
 '/apollo/sensor/gnss/best/pose',
 '/apollo/perception/traffic/light']

In [14]:
y = cfs.retrieve_gmID_topic( '513a670c-eea9-11ee-9385-ef789ffde1d3', '/apollo/drive/event' )

In [15]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   groupMetadataID     6 non-null      object
 1   event               3 non-null      object
 2   time                6 non-null      int64
 3   position.alt_msl    0 non-null      float64
 4   position.latitude   0 non-null      float64
 5   position.longitude  0 non-null      float64
 6   type                6 non-null      object
dtypes: float64(3), int64(1), object(3)
memory usage: 464.0+ bytes